@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Target empty label bookmark with URL containing github.com and use github.png icon in same folder */
.bookmark-item[label="GitHub"] {
  list-style: url("./icons/github.png") !important;
}
.bookmark-item[label="GitHub"] > .toolbarbutton-text {
  display: none !important;
}

.bookmark-item[label="Translate"] {
  list-style: url("./icons/translate.png") !important;
}
.bookmark-item[label="Translate"] > .toolbarbutton-text {
  display: none !important;
}

.bookmark-item[label="YT"] {
  list-style: url("./icons/youtube.png") !important;
}
.bookmark-item[label="YT"] > .toolbarbutton-text {
  display: none !important;
}